<p>
  task-add works!
</p>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add</h1>
</div>
<p>Aplicación para realizar sumas en Angular</p>

<div class="form-group">
<label>Titulo:
  <input [(ngModel)]="task.title" placeholder="digite titulo" type="text"/>
</label>
</div>

<div>
<label>Descripción:
  <input [(ngModel)]="task.description" placeholder="digite descripción " type="text"  />
</label>
</div>
<div>
  <label>Prioritario:
    <input type="checkbox"  [(ngModel)]="task.priority">
</label>
</div>
<div>
<button (click)="add()" class="btn btn-primary">Agregar</button>
</div>

<div>

</div>
